@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Mono+One&family=Sometype+Mono&display=swap');

.reactflow-wrapper{
  background-color: #222;

}



body {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;

}

.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .dndnode.input {
  border-color: #0041d0;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}

.text-updater-node {
  height: 50px;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  background: white;
}

.text-updater-node label {
  display: block;
  color: #777;
  font-size: 12px;
}

.branching-point-node {
  height: 70px;
  padding: 4px;
  border: 1px solid #eee;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.playlist-node {
  width: 300px; 
  height: 300px;
  background-color: rgba(204, 173, 173, 0.363);
  border: 2px dashed #000000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}



.playlist-name {
  text-align: center;
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
}



.attribute-node {
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.attribute-node label {
  font-weight: bold;
  margin-right: 10px;
  flex: 1;
}


.attribute-pair {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;  
}

.attribute-field {
  margin-bottom: 5px;
}

.audio-node-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  width: 300px;
  overflow: hidden;
  
}

.audio-control-button {
  margin-right: 10px;
}

.waveform-container {
  flex-grow: 1;
  min-width: 200px;
  height: 100px;
  overflow: hidden;
}

